.card{
    border-radius: 20px;
    border: 2px solid black;
    height: 400px;
    width: 250px;
}

.details{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;

}

.name{
    border-radius: 20px 20px 0 0;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descrip{
    height: 50%;
    padding-left: 50px;
}

.price{
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
