body{
    height: 100vh;
    width: 100vw;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: red;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.inputbox{
    border: 2px solid black;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
}
.input{
    height: 100%;
    width: 100%;
    
}
.input input{
    border: 2px solid black;
    height: 80%;
    width: 90%;
}

.input button{
    height: 80%;
    width: 10%;
}

.taskbox{
    border: 2px solid black;
    height: 80%;
    margin-top: 5%;
}
.taskbox h1{
    text-align: center;
}